{% extends "public/base.html.twig" %}

{% block title %} About - Winners {{ current_public_contest.shortname | default('') }} - {{ parent() }}{% endblock %}

{% block body %}
<div>
<h1>GANADORES</h1>

<ul class="list-group">
    <li class="list-group-item active">Matecas 1</li>
    <li class="list-group-item">Matecas 2</li>
    <li class="list-group-item">Macetas 3</li>
</ul>

</div>

{% endblock %}